.builds-tier-list-section__spec-value-and-label {
    display: none;
}

.hide-on-compact {
  display: none;
}

.hide-on-compact.heading {
  display: flex;
}

.builds-tier-list-section__spec-contents {
    padding: 0px;
}

.react-table__wrapper {
    font-size: 60%;
}

.builds-page__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.builds-page__content > section {
    flex: 1 0 50%;
    max-width: 50%;
    padding: 0 20px;
    box-sizing: border-box;
}

.no-top-margin-on-compact {
  display: flex;
  flex-direction: column;
}

.builds-page__content > section:nth-child(2), .builds-page__content > section:nth-child(4), .builds-page__content > section:nth-child(6) {
    display: flex;
    flex-basis: 100%;
    max-width: 100%;
}

.builds-page__content > section:nth-child(3) {
    order: 1;
}

.builds-page__content > section:nth-child(5) {
    order: 2;
}

.builds-page__content > section:nth-child(4) {
    order: 3;
} 

.builds-page__content > section:nth-child(6) {
    order: 4;
}

.builds-page__content > section:nth-child(7), .builds-page__content > section:nth-child(8) {
    order: 5;
}
